<html>
  <head>
    <title>Encode Text</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href='./assets/css/style.css'>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
  </head>
  <body>
    <main class="has-text-centered">
      <section class="hero is-light is-bold">
        <div class="hero-head">
          <nav class="navbar">
            <div class="container">
              <div class="navbar-brand">
                <a href="https://www.gitlab.com/vkainth" class="navbar-item">
                  @vkainth
                </a>
                <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </div>
              <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-end">
                  <a class="navbar-item" href=<%= url('/') %>>
                    Home
                  </a>
                  <a class="navbar-item" href=<%= url('encode') %>>
                    Encode
                  </a>
                  <a class="navbar-item" href=<%= url('decode') %>>
                    Decode
                  </a>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <div class="hero-body">
          <div class="container">
            <h1 class="title">Decode Text</h1>
            <h2 class="subtitle">Decode Encrypted Text to Plain Text</h2>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="container">
          <form class="form">
            <div class="field">
              <label class="label" for="text">Enter text</label>
                <div class="control">
                  <textarea class="textarea" id="text" rows="5" cols="50" name="text" placeholder="This is a simple text box with some simple text that should be encoded below this simple text box with this simple text."></textarea>
                </div>
            </div>
            <input class="button is-dark is-outlined" type="submit" value="Encode!">
          </form>
        </div>
        <div class="container">
          <h2 class="subtitle is-4">Plain Text</h2>
          <p><%= decoded %></p>
        </div>
      </section>
    </main>
    <script src="./assets/js/script.js"></script>
  </body>
</html>