<html>
  <head>
    <title>Caesar Cipher</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
  </head>
  <body>
    <main>
      <section class="has-text-centered hero is-light is-bold">
        <div class="hero-head">
          <nav class="navbar">
            <div class="container">
              <div class="navbar-brand">
                <a href="https://www.gitlab.com/vkainth" class="navbar-item">
                  @vkainth
                </a>
                <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </div>
              <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-end">
                  <a class="navbar-item" href=<%= url('/') %>>
                    Home
                  </a>
                  <a class="navbar-item" href=<%= url('encode') %>>
                    Encode
                  </a>
                  <a class="navbar-item" href=<%= url('decode') %>>
                    Decode
                  </a>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <div class="hero-body">
          <div class="container">
            <h1 class="title">Ceaser's Cipher</h1>
            <h2 class="subtitle">Have fun encoding and decoding!</h2>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="container">
          <h1 class="title is-size-3">Description</h1>
          <p class="is-size-4">Ceaser Cipher is an ages old encryption algorithm, first used by Julius Ceaser himself to send encrypted messages to his generals.</p>
          <h2 class="title is-size-3">Algorithm</h2>
          <p class="is-size-4">The algorithm is pretty simple. For encryption, it simply shifts the characters forward by 1. So, <strong>a</strong> becomes <strong>b</strong> and <strong>z</strong> becomes <strong>a</strong></p>
          <p class="is-size-4">For decryption, it simply shifts the characters back by 1. So, <strong>b</strong> becomes <strong>a</strong> and <strong>a</strong> becomes <strong>z</strong></p>
        </div>
      </section>
    </main>
    <script src="./assets/js/script.js"></script>
  </body>
</html>